<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karma:wght@400;700&display=swap">
</head>
<body>
    <!--Links to other sections-->
    <div class="header">
        <div class="top">
            <ul>
                <a class="nav-bar-link" href="/">
                    <p><img class="logo" src="./logo_white.png"  alt= "Lacaphe Placeholder Logo"></p>
                </a>
            </ul>
            <ul class="nav-bar">
                <li>
                    <a class="nav-bar-link" href="/">
                        <p>HOME</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="/about">
                        <p>ABOUT</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="https://lacaphe.square.site/">
                        <p>ORDER</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="/drinks">
                        <p>DRINKS</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="https://lacaphe.carrd.co/">
                        <p>CONNECT</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="/login">
                        <p>LOGIN</p>
                    </a>
                </li>
                
                <li>
                    <a class="nav-bar-link" href="https://www.instagram.com/lacaphe.sj/?hl=en">
                            <p><img src="./iconsInstagram.png" alt="Instagram"></p>
                        </a>
                </li>
            </ul>
        </div>
        <div class="inside_header">
            <h1>ABOUT</h1>
        </div>
    </div>

    <!-- This section will pull the ejs from login.ejs -->
    <%- include('login.ejs') %>    


    <!--img are just placeholders for now until we get desired images-->
    <div class="content-section">
        <div>
            <h2>OUR STORY</h2>
            <p><strong>Here we will write about the history of your company, how it started, and the journey so far.</strong></p>
        </div>
        <img src="/about_page_photos_lecaphe/OurStory.jpg" alt="Our Story Image">
    </div>

    <div class="content-section">
        <img src="/about_page_photos_lecaphe/OurMission.jpg" alt="Our Mission Image">
        <div>
            <h2>OUR MISSION</h2>
            <p><strong>Our mission is to promote the image of Vietnamese coffee to everyone. We want to become the coffee shop that can bring Vietnamese people closer together and also a place where we can share Vietnamese cultural content to younger generations. We want to build a store culture to differentiate ourselves from other business models in the same industry. Every day a lot of new stores are opened, if there is no difference to stand out, there will be little to no room to grow. We want to create the core values for the store from our products, services, and the way we operate.</strong></p>
        </div>
    </div>

    <div class="owners-section">
        <div>
            <h2>MEET THE OWNERS</h2>
            <p><strong>We are Anh, Tho, and Thy - the founders and the first three employees of Lacàphê. We are a mix of thinkers and dreamers that came from different professional background- hospitality, F&B, and law, but how come Lacàphê happened? Well, …. Covid happened 😅 During quarantine, we felt bored with our corporate job and wanted to do something different and ambitious. The idea of opening a Vietnamese coffee shop (but NOT the type of Viet coffee shops you are thinking of 🤭) came to mind. 6 months later, Lacàphê opened for pre-order and the first Eggspresso Hanoi was sold in May, 2021. Over the years, we received an immense amount of support from the Vietnamese community who wanted a sip of their home country. We wanted to escape the dreading 9-5 job but ended up working 24/7 which we has no complaints about. Lacàphê has brought us so much opportunities, creativity, and lessons that we can't imagine. We believe that Lacàphê can be so much more, not just a typical coffee shop. Follow us on our social media to witness our growth and be a part of it 🤎 </strong></p>
        </div>
        <img src="/about_page_photos_lecaphe/OwnersEdited.jpeg" alt="Owner Picture">
    </div>

    <div class="gallery">
        <!-- Can add more images by repeating (only have three for now) -->
        <img src="/about_page_photos_lecaphe/AboutGallery1.jpg" alt="Gallery Image 1">
        <img src="/about_page_photos_lecaphe/AboutGallery2.jpg" alt="Gallery Image 2">
        <img src="/about_page_photos_lecaphe/AboutGallery3.jpg" alt="Gallery Image 3">
        <img src="/about_page_photos_lecaphe/AboutGallery4.jpg" alt="Gallery Image 4">
        <img src="/about_page_photos_lecaphe/AboutGallery5.jpg" alt="Gallery Image 5">
        <img src="/about_page_photos_lecaphe/AboutGallery6.jpg" alt="Gallery Image 6">
    </div>
    
    <footer>
        <div class="container">
            <p>740 Story Rd #5, San Jose, CA 95122<br>+1(408) 564-6237<br></p>
            
            <div class="footer-right">
                <!--Social Media Links added-->   
                <a class="nav-bar-link" href="https://www.yelp.com/biz/lac%C3%A0ph%C3%AA-san-jose"><p><img src="./iconsYelp.png" alt="Yelp"></p></a>
                <a class="nav-bar-link" href="https://www.facebook.com/lacaphe.sj/"><p><img src="./iconsFacebook.png" alt="Facebook"></p></a>
                <a class="nav-bar-link" href="https://www.tiktok.com/@lacaphesj?lang=en"><p><img src="./iconsTikTok.png" alt="TikTok"></p></a>
                <a class="nav-bar-link" href="https://www.instagram.com/lacaphe.sj/?hl=en"><p><img src="./iconsInstagram.png" alt="Instagram"></p></a>
                
            </div>
        </div>
    </footer>
    <footer class="map-footer">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25380.643466810565!2d-121.89502821023045!3d37.32876500769921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e33ffa1db20cd%3A0x34da9e6455994d08!2zTGFjw6BwaMOq!5e0!3m2!1sen!2sus!4v1701291087332!5m2!1sen!2sus" width="900" height="200" style="border: 1px solid #ccc; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="footer-right">
                <p>Monday       Closed
                <br>Tuesday     9:00 am - 6:00 pm 
                <br>Wednesday   9:00 am - 6:00 pm
                <br>Thursday    9:00 am - 6:00 pm 
                <br>Friday      9:00 am - 6:00 pm 
                <br>Saturday    9:00 am - 7:00 pm 
                <br>Sunday      9:00 am - 7:00 pm </p>

            </div>
        </div>
 
        <p class="footer-nav-bar">
            <a href="/">Home</a> | 
            <a href="/about">About</a> | 
            <a href="https://lacaphe.square.site/">Order</a> | 
            <a href="/drinks">Drinks</a> | 
            <a href="https://lacaphe.carrd.co/">Connect</a> | 
            <a href="/login">Login</a>
        </p>
    </footer>  
    <script src="login.ejs" defer></script>
</body>
</html>
