<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Page</title>
    <link rel="stylesheet" href="/adminLogin.css"> 
</head>

<header></header>
<div class="center">
    <button id="show-login">Login</button>
</div>
<body>
    <div class="popup" >
        <div id="close-btn" class="close-btn">&times;</div>
        <div class="form">
            <h2>Login</h2>
            <label for = "email">Email</label>
            <div class="form-element">
                <input type="text" id="email" placeholder="Enter email">
            </div>

            <label for = "password">Password</label>
            <div class="form-element">    
                <input type="password" id="password" placeholder="Enter password">
            </div>

            <div class="form-element">
                <button id = "signin-btn" >Sign in</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/adminLoginJs.js" defer></script>
</body>
<footer></footer>

</html>