<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="adminStyle.css">
        <script src ="/adminForm.js"></script>
        <title>Admin Page</title>
    </head>
    <body>
        <div class="rounded" id="add-drink">
            <h1 style="margin-left: 50px; margin-right: 50px;">Add Drink</h1>
            <hr>
            <!--TODO: Make these rows look nice and centered-->
            <table>
                <tr>
                    <td>Select Image</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                </tr>
                <tr>
                    <td>
                        <input type="file" id="fileUpload" name="fileUpload" accept="image/*">
                    </td>

                </tr>
            </table>
        </div>
    </body>
</html>