<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacaphe Website</title>
    <link rel="stylesheet" href="/drinksStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karma:wght@400;700&display=swap">
</head>
<body>
    <body>
        <!--Links to other sections-->
        <div class="header">
            <div class="top">
                <ul>
                    <a class="nav-bar-link" href="/">
                        <p><img class="logo" src="./logo_white.png"  alt= "Lacaphe Placeholder Logo"></p>
                    </a>
                </ul>
                <ul class="nav-bar">
                    <li>
                        <a class="nav-bar-link" href="/about">
                            <p>ABOUT</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-bar-link" href="https://lacaphe.square.site/">
                            <p>ORDER</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-bar-link" href="/drinks">
                            <p>DRINKS</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-bar-link" href="https://lacaphe.carrd.co/">
                            <p>CONNECT</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-bar-link" href="/login">
                            <p>LOGIN</p>
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-bar-link" href="https://www.instagram.com/lacaphe.sj/?hl=en">
                                <p><img src="./iconsInstagram.png" alt="Instagram"></p>
                            </a>
                    </li>
                    <!--using a logo to connect like showen in Figma mockup -->
                </ul>
            </div>
            <div class="inside_header">
                <h1>DRINKS</h1>
            </div>
        </div>
    
    <div class="drinks-section">
        <div id="drink-categories">
            <button class="category" id="sig-drinks-btn">
                <h2>Signature Drinks</h2>
            </button>
            <button class="category" id="coffee-btn">
                <h2>Coffee</h2>
            </button>
            <button class="category" id="tea-btn">
                <h2>Tea</h2>
            </button>
            <button class="category" id="ice-blended-btn">
                <h2>Ice Blended</h2>
            </button>
        </div>
        <div id="drink-display">
            <!--Below is just a template of what's in the drinksJS,remove when finished-->
            <!--
            <div class="card">
                <img width="100px" height="200px" src="https://s3-media0.fl.yelpcdn.com/bphoto/Z0nZF9zYTaMVT5nbbGuxDA/o.jpg">
                <h2>Lychee Tea</h2>
                <h3>$3.29</h3>
            </div>
            -->
        </div>
    </div>

    <footer>
        <div class="container">
            <p>740 Story Rd #5, San Jose, CA 95122<br>+1(408) 564-6237</p>
            <div class="footer-right">   
                <a class="nav-bar-link" href="https://www.yelp.com/biz/lac%C3%A0ph%C3%AA-san-jose"><p><img src="./iconsYelp.png" alt="Yelp"></p></a>
                <a class="nav-bar-link" href="https://www.facebook.com/lacaphe.sj/"><p><img src="./iconsFacebook.png" alt="Facebook"></p></a>
                <a class="nav-bar-link" href="https://www.tiktok.com/@lacaphesj?lang=en"><p><img src="./iconsTikTok.png" alt="TikTok"></p></a>
                <a class="nav-bar-link" href="https://www.instagram.com/lacaphe.sj/?hl=en"><p><img src="./iconsInstagram.png" alt="Instagram"></p></a>
            </div>
        </div>
    </footer>
    <script src="/drinksJS.js"></script>
</body>
</html>