<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">

    <title>Lacaphe's Website</title>
</head>
<!-- testing -->
<body>
    <!--This is where the top half of the website reside. It Contains the logo of the site, nav bad, and shop photo as background.-->
    <div class="header">
        <div class="top">
            <ul>
                <img class="logo" src="/placeholder-site-logo.jpeg"  alt= "Lacaphe Placeholder Logo">
            </ul>
            <ul class="nav-bar">
                <li>
                    <a class="nav-bar-link" href="/about">
                        <p>ABOUT</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="/social-media">
                        <p>ORDER</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="/social-media">
                        <p>DRINKS</p>
                    </a>
                </li>
                <li>CONNECT</li>
                <li>
                    <!--Make all the buttons in the nav bar this way to be able to make a smooth button animation for each of them-->
                    <!--<a> element w/ <p> element inside; <a> element is a part of the nav-bar-link class-->
                    <a class="nav-bar-link" href="/social-media">
                        <p>SOCIAL MEDIA</p>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-link" href="/login">
                        <p>LOGIN</p>
                    </a>
                </li>
                <!--using a logo to connect like showen in Figma mockup -->
            </ul>
        </div>
    </div>

    <!-- This is the div with the quote section that also leads to the "Get to Know us" or "About" page. -->
    <div class="quote-section">
        <p>Add a quote/mission here</p>
        <button>Get To Know Us</button>
    </div>

    <!-- This div displays the 6 pictures  -->
    <div class="photo-collection">
        <div class="container">
            <img class="photo" src="/daan-evers-tKN1WXrzQ3s-unsplash.jpg" alt="">
            <img class="photo" src="/kris-atomic-3b2tADGAWnU-unsplash.jpg" alt="">
            <img class="photo" src="/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg" alt="">
            <img class="photo" src="/nathan-dumlao-zUNs99PGDg0-unsplash.jpg" alt="">
            <img class="photo" src="/sincerely-media-VNsdEl1gORk-unsplash.jpg" alt="">
            <img class="photo" src="/tony-lee-8IKf54pc3qk-unsplash.jpg" alt="">
        </div>
    </div>

    <!-- Displays the featured drinks in this div  -->
    <div class="featured-section">
        <div class="title-div">
            <p class="title">Featured Drinks</p>
        </div>
    </div>

    <!-- QR Code div & Order button -->
    <div class="order-online-section">
        <div class="oos-title-div">
            <p class="oos-title">IN-STORE PICKUP! ORDER AHEAD AND SKIP THE LINE!</p>
            <button class="oos-btn">ORDER HERE</button>
        </div> 
        <div class="qr-code">QR Code goes here</div>
    </div>

    <div class="footer">
        <p class="address1">740 Story Rd #5, San Jose, CA 95122</p>
        <p class="address2"> +1(408)564-6237</p>

    </div>

    <script defer src="script.js"></script>
    <footer>
        <div class="container">
            <p>740 Story Rd #5, San Jose, CA 95122<br>+1(408) 564-6237</p>
            <div class="footer-right">   
                <a class="nav-bar-link" href="https://www.yelp.com/biz/lac%C3%A0ph%C3%AA-san-jose"><p><img src="/iconsYelp.png" alt="Yelp"></p></a>
                <a class="nav-bar-link" href="https://www.facebook.com/lacaphe.sj/"><p><img src="/iconsFacebook.png" alt="Facebook"></p></a>
                <a class="nav-bar-link" href="https://www.tiktok.com/@lacaphesj?lang=en"><p><img src="/iconsTikTok.png" alt="TikTok"></p></a>
                <a class="nav-bar-link" href="https://www.instagram.com/lacaphe.sj/?hl=en"><p><img src="/iconsInstagram.png" alt="Instagram"></p></a>
            </div>
        </div>
    </footer>
</body>

</html>