<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- <link rel="stylesheet" href="/loginStyle.css"> -->
</head>


<div class="center">
    <button id="show-login">Login</button>
</div>
<body>
    <div class="popup">
        <div id="close-btn" class="close-btn">&times;</div>
        <div class="form">
            <h2>Login</h2>
            <div class="form-element">
                <label for = "email">email</label>
                <input type="text" id="email" placeholder="Enter email">
            </div>

            <div class="form-element">
                <label for = "password">password</label>
                <input type="password" id="password" placeholder="Enter password">
            </div>

            <div class="form-element">
                <button id = "signin-btn">Sign in</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/loginJS.js" defer></script>
    
</body>

</html>