<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginStyle.css">
</head>

<!--
<div class="center">
    <button id="show-login">Login</button>
</div>
-->

<body>

    <div class="popup">
        <div id="close-btn" class="close-btn">&times;</div>

        <div class="form">
            <h2>Login</h2>
            <div id="invalid-popup-login" class="popup-message">
                <div id="close-btn" class="close-btn">&times;</div>
                <p>Email or Password Incorrect</p>
            </div>
            <div class="form-element">
                <label for = "email">Email</label>
                <input type="text" id="email" placeholder="Enter email">
            </div>

            <div class="form-element">
                <label for = "password">Password</label>
                <input type="password" id="password" placeholder="Enter password">
            </div>

            <div class="form-element">

       

                <a href="#">Forgot password?</a>
            </div>

            <div id="sign" class="form-element">
                <button id = "signin-btn">Sign in</button>
                <button id = "signout-btn">Sign Out</button>
            </div>

            <div id="createAcc" class="form-element"> 
                <button>Create An Account</button>

            </div>
        </div>
    </div>

    <div class="create-popup">
        <div id="close-btn" class="close-btn">&times;</div>

        <div class="form">
            <h2>Create Account</h2>
            <div id="create-invalid-popup" class="popup-message">
                <div id="close-btn" class="close-btn">&times;</div>
                <p>Email or password is invalid. Please try again.</p>
            </div>
            <div id="create-invalid-popup-password" class="popup-message">
                <div id="close-btn" class="close-btn">&times;</div>
                <p>Passwords do not match or not long enough.</p>
            </div>
            <div id="create-invalid-popup-email" class="popup-message">
                <div id="close-btn" class="close-btn">&times;</div>
                <p>Email has already been registered by another user.</p>
            </div>
            <div class="form-element">
                <label for = "email-create">Enter Email</label>
                <input type="text" id="email-create" placeholder="Enter email">
            </div>

            <div class="form-element">
                <label for = "create-password">Enter Password</label>
                <input type="password" id="create-password" placeholder="Enter password">
            </div>

            <div class="form-element">
                <label for = "confirm-password">Enter Password Again</label>
                <input type="password" id="confirm-password" placeholder="Enter password again">
            </div>

            <div id="post-createAcc" class="form-element"> 
                <button>Create</button>
            </div>
        </div>
    </div>


    <div class="signout-popup">
        <div id="close-btn" class="close-btn">&times;</div>

        <div class="form">

            <div id="signIn" class="form-element">
                <button>Sign in</button>
            </div>

            <div id="signOut" class="form-element"> 
                <button>Sign Out</button>
            </div>

            <div id="Placeholder1" class="form-element"> 
                <button>Placeholder1</button>
            </div>

            <div id="Placeholder2" class="form-element"> 
                <button>Placeholder2</button>
            </div>

            <div id="Placeholder3" class="form-element"> 
                <button>Placeholder3</button>
            </div>

            <div id="Placeholder3" class="form-element"> 
                <button>Placeholder3</button>
            </div>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/loginJS.js" defer></script>
</body>

</html>