<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginStyle.css">
</head>


<div class="center">
    <button id="show-login">User</button>
</div>


<body>

    <div class="popup">
        <div id="close-btn" class="close-btn">&times;</div>

        <div class="form">

            <div id="sign" class="form-element">
                <button>Sign in</button>
                <button id = "signout-btn">Sign Out</button>
            </div>

            <div id="singOut" class="form-element"> 
                <button>Sign Out</button>

            </div>
        </div>
    </div>

    <script src="/loginJS.js" defer></script>
</body>

</html>