body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    text-transform: uppercase;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.header {
    text-align: center;
    background-color: #555;
    color: white;
    padding: 50px 10px;
}
.content-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: white;
}
.content-section div,
.content-section img {
    flex-basis: 48%;
}
.content-section img {
    max-width: 100%;
    height: auto;
}
.owners-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #e2e2e2;
}
.owners-section div,
.owners-section img {
    flex-basis: 48%;
}
.owners-section img {
    max-width: 100%;
    height: auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.gallery img {
    flex-basis: 31%; /* Adjust this to change the number of columns */
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #090909;
    color: white;
    text-align: center;
    padding: 10px 20px;
}
.footer-left {
    background-color: #000; /* Or any color you prefer */
    color: white;
    text-align: left; /* Aligns text to the right */
    padding: 10px 20px;
}
.footer-darkGray {
    background-color: #090909; /* Or any color you prefer */
    color: white;
    text-align: left; /* Aligns text to the right */
    padding: 10px 20px;
}