body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header{
    background-image: url('LACAPHEPIC3.jpg'); /* Placeholder */
    background-size:cover;
    background-position-y: -600px;
    background-repeat: no-repeat;
    height: 500px;
}
.top {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 400px;
    padding-top: 3%; /* I changed this to 3% cause I think 7% makes it too bulky up top*/
}

.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.logo {
    width: 75px;
    height: 120px;
    margin: 0;
}
.nav-bar, li {
    color: white;
}
.nav-bar li:last-child {
    margin-top: -7px; 
}

.nav-bar-link {
    text-decoration: none;
    color: white;
}

.nav-bar-link p {
    margin: 0px;
    transition: transform 0.3s ease; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-bar-link:hover p {
    transform: scale(0.9);
}
.inside_header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: 0px;
}

.inside_header h1 {
    margin: 0;
    font-size: 6em;
    font-family: 'Karma', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-section {
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: chocolate;
   /* padding: 20px;

    /*  margin: 20px;
    padding: 20px;
   /* background-color: white;*/
}
.content-section div,
.content-section img {

    flex-basis: 49%;

}
.content-section p,h2 {
    padding: 20px; /* Adjust the padding as needed */
}

.content-section img {
    padding: 0; /* This ensures that images have no padding */
}
.owners-section {
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: sandybrown;
  /*  padding: 20px;


    /* margin: 20px;
   background-color: #e2e2e2;*/
}
.owners-section div,
.owners-section img {
    flex-basis: 49%;
}
.owners-section img {
    max-width: 100%;
    height: auto;
}
.owners-section p,h2 {
    padding: 20px; /* Adjust the padding as needed */
}

.owners-section img {
    padding: 0; /* This ensures that images have no padding */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery img {
    flex-basis: 33.333%; /* Adjust this to change the number of columns */
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding-left: 50px;
    margin: 0;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.footer-right {
    display: flex; 
    align-items: center;
    padding-right: 20px;
}
.footer-right img {
    width: 30px;
    height: 30px;
}

.footer-right p {
    margin-bottom: 20px;
    text-align: left;
    text-decoration: none;
    color: white; 
    padding-right: 10px;
    font-family: Georgia, sans-serif; /* Change font-family */
    line-height: 1.5; /* Increase line height */
}

.map-footer {
    margin-top: 0;
    padding-bottom: 10px;
}

.content-section img, .owners-section img, .gallery img {
    max-width: 100%; /* Keeps the image within its container */
    height: auto; /* Maintains aspect ratio */
    max-height: 400px; /* Example: limits the image height */
}
.footer-nav-bar {
    text-align: center;
    background-color: #000; /* Set the background color of the navigation bar */
}

.footer-nav-bar a, .footer-nav-bar a:visited {
    color: white; /* Sets the text color for links */
    text-decoration: none; /* Removes underline from links */
    margin: 0 10px; /* Spaces out links */
}

.footer-nav-bar a:hover {
    text-decoration: underline; /* Adds underline on hover */
}
