body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#add-drink {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 197, 161); 
}


table {
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    vertical-align: middle;
    
}

.rounded {
    border-radius: 30px;
}

hr {
    width: 100px;
}
























/* section{
    display: flex;
    flex-direction: column; 
}
fieldset { 
    background-color: rgb(216, 197, 161); 
    border: 1px solid rgb(146, 102, 82);
    border-radius: 25px; 
    float: left; 
    margin: 10px 0px 10px 2.5%; 
    width: auto;
    
}

label { 
    clear: top; 
    display: inline-block; 
    font-size: 0.9em; 
    margin: 7px 4% 7px 5px; 
    width: auto; 
}
input[type=”submit”], input[type=”reset”] { 
    display: block; 
    float: none; 
    height: 5%; 
    width: auto; 
}
input { 
    display: inline-block; 
    vertical-align: baseline;
    font-size: 0.9em; 
    margin: 7px 0px; 
    
}
form p { 
    text-align: center; 
    
} 
 */

