body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.top {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    width: auto;
    height: 400px;
    padding-top: 3%; /* I changed this to 3% cause I think 7% makes it too bulky up top*/
}
.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.logo {
    width: 80px;
    height: 80px;
}
.nav-bar, li {
    color: white;
}

.nav-bar-link {
    text-decoration: none;
    color: white;
}

.nav-bar-link p {
    margin: 0px;
    transition: transform 0.3s ease; 
}

.nav-bar-link:hover p {
    transform: scale(0.9);
}

/* --------- Footer Start --------- */

footer {
    background-color: #000;
    color: #fff;
    padding-left: 50px;
    margin: 0;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}
.footer-right {
    display: flex; 
    align-items: center;
    padding-right: 20px;
}
.footer-right img {
    width: 30px;
    height: 30px;
}

.footer-right p {
    margin-bottom: 20px;
    text-align: left;
    text-decoration: none;
    color: white; 
    padding-right: 10px;
    font-family: Georgia, sans-serif; /* Change font-family */
    line-height: 1.5; /* Increase line height */
}

.map-footer {
    margin-top: 0;
    padding-bottom: 10px;
}


 /* ----------for quote section below----------- */
.quote-section {
    background-color: chocolate;
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* ----------- for Photo collection divs below ------------ */
.photo-collection {
    display: flex;
    height: 700px;
}
.container {
    flex-wrap: wrap;
    display: flex;
}
/* dynamic photo sizing */
.photo {
    width: 30%;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    flex-grow: 1;
}

/* ----------Featured Drink Div below---------- */

.featured-section {
    width: auto;
    height: 600px;
    background-color: sandybrown;
}
.title-div {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}
.title {
    margin: 0;
    font-size: xxx-large;
}

/* ----------Featured Drink Div below---------- */
.featured-section {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: sandybrown;
}

.featured-row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.title {
    margin: 0;
    padding-bottom: 20px;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
}

.featured-section {
    box-sizing: border-box;
}

.featured-section *,
.featured-section *:before,
.featured-section *:after {
    box-sizing: inherit;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
}

.featured-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    transition: transform 0.3s ease;
}

.featured-column>a {
    text-decoration: none;
    color: inherit;
}

.featured-column:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 650px) {
    .featured-column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.562);
}

.card-text {
    padding: 0 16px;
}

.card-text::after,
.featured-row::after {
    content: "";
    clear: both;
    display: table;
}



/*------------ Order Online Div below ---------------*/

.order-online-section {
    width: auto;
    height: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* use padding to move around divs */
.oos-title-div {
    width: 50%;
    padding-left: 100px;
}
.qr-code {
    width: 50%;
}

